*{max-width: 100%;
    margin :0;
    padding:0;
    box-sizing: border-box;

    
   }
   

nav{
  width: 100%;
height: 92px;
  margin: 0 ;
  padding: 0;
  display: flex;
  justify-content: space-between;

}
  
  #banner{
    color: #ffffff;
    text-align: center;
    margin: auto;
    padding-top: 500px;
    gap: 200px;
    
  }
   .h3{
    text-decoration-color: #30b868;

  }
  .break-word{
    width: 100px;
    border: 1px;
    word-break: break-all;
    align-items: center;
  }
  .color-green{
       color:  #30b868;

  }
  
.logo img{
  align-items: left;
  padding-left: 120px;
  margin-top: 16px;
  margin-bottom: 16px;
}

nav .menu {
  display: flex;
  list-style-type: none;
  gap: 32px;
  align-items: center;
  text-decoration: none;

  
  
  
}
nav a{
text-decoration: none;

}
.btn-nav{
  background-color: #30b868;;
  border: 2px;
  border-color: none;
  border-radius: 4px;
  font-size: 15px;
margin-top: 20px;
margin-right: 120px;


  color: #ffffff;

  width: 164px;
  height: 44px;
 
}

.btn{
  background-color: #30b868;;
  border: 2px;
  border-color: none;
  border-radius: 4px;
  font-size: 14px;
display: flex;
align-items: center;
padding: 12px 16px;
  color: #ffffff;
 gap: 10px;
  width: 180px;
  height: 35px;
  text-align: center;
}
  .btn-img{
    width: 20px;
    height: 20px;
  }
 
.btn2{
 background: none;
  color: #ffffff;
  font: 15px;
  border: 2px solid#ffffff;
  border-radius: 4px;
  width: 170px;
  height: 35px;
  display: flex;
  align-items: center;
  padding: 12px 16px;
  gap: 10px;
}
.btn2-image{
  height: 16px;
  width: 14px;
}
.btn-early-access{
  background-color: #30b868;
  border: 2px;
  border-color: none;
  border-radius: 4px;
  font-size: 14px;
display: flex;
align-items: center;
padding: 12px 16px;
padding-bottom: 16px;
  color: #ffffff;
 gap: 8px;
  width: 170px;
  height: 35px;
  text-align: center;
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.15);
}
.banner-button{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
header{
  background-color: #ffffff;
 
}
#banner{
  margin: 0;
   padding: 0;
  background-image: url(assets/hero-bg.png) ;
max-width: 100%;
  height: 600px;
 display: flex;
flex-direction: column;
justify-content: center;
  background-repeat: no-repeat;
  gap: 100px;
}
.banner-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
 .early{
  color: #30b868;
  background-color: #ffffff;
  width: 200px;
  height: 35px;
  border-radius: 1000px;
  display: flex;
  align-items: center;
text-align: center;
font-size: 14px;
gap: 10px;
padding: 8px 12px;
 }  
 .early-image{
  width: 25px;
  height: 25px;
 }


  #notes{
    margin: 0;
    padding: 60px;
  }
  
  
  .notes-container{
    width: 100%;
  
 align-items: center;
    margin: 0 auto;
    padding: 0;
  }
 .section-heading{
  margin: 0 ;
display: flex;
flex-direction: column;
justify-content: center;
  align-items: center;
 padding-bottom: 50px;
}
.section-heading h1{
  font-size: 48px;
}
#notes .notes-container .notes-box{
  display: flex;
  justify-content: space-around;
padding: 0;
}

   .notes-card{
  padding: 20px;
  max-width: 267px;
  text-align: center;
  background-color: #ffffff;

}
.notes-card img {
  background-color: #F95555;
  border-radius: 50%;
  width: 60px;
  height: 60px;
}

#brain{
  margin: 0;
  padding: 0;
  display: flex;
flex-direction: row;
  justify-content: space-around;
  align-items: center;
 padding-top: 0;
}
.brain-image{
  width: 50%;
  height: 50%px;
  border-radius: 12px;
  margin: 0;
  padding-top: 0;
  padding-left: 20px;
padding-bottom: 50px;
}


.message{
  text-align: left;
  margin-left: 0;
  padding-left: 0;
  padding-right: 200px;
  padding-top: 0;
  
}
.message h1{
  font-size: 48px;
  font-weight: 700;
  text-align: left;
  padding-left: 0;
  padding-bottom: 50px;
  padding-top: 20px;
}
.message p{
  font-size: 16px;
  line-height: 20px;
  padding-bottom: 40px;
}
 .message .list{

align-items: center;
list-style: none;

}
.message .list-item{
  display: flex;
 align-items: center;
  gap: 5px;
  padding-bottom: 10px;

  
}
.early-access-sec{
  width: 100%;
  height: 600px;
  background-color: #F7F6F2;
 
}
.early-access{
  background-color: #F7F6F2;
  width: 90%;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-items: center;
  padding: auto;
  padding-top: 50px;
  margin-bottom: 80px;
  gap: 20px;
}
.early-access p{
  padding: 20px;
  padding-top: 0;
  padding-bottom: 50px;
  
}
footer{
  width: 100%;
  height: 348px;
  
  background-color: #3b4d54;
  color: #ffffff;
}
.footer-section{
  width: 100%;
  height: 248px;
display: flex;
 flex-direction: row;
  justify-content: space-between;
  align-items: center;
 }
 .footer-logo{
  margin: 0;
  padding-left: 100px;

} 
.social-logo{
  padding-right: 120px;
  
  
}
.copyright{
  padding-left: 300px;
}
.line{
  width: 1450px;
  height: 1px;
  color: #F7F6F2;
 padding-left: 120px;
}
footer p {
  display: flex;
  justify-content: center;
  
}