*{
    margin :0;
    padding:0;
    box-sizing: border-box;
}

nav{
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;}
  
.logo img{
  align: left;
  padding-left: 120px;
  margin-top: 16px;
  margin-bottom: 16px;
}

nav .menu {
  display: flex;
  list-style-type: none;
  gap: 32px;
  align-items: center;
  padding-right:  630px;
  text-decoration: none;
  
}

.btn{
  background-color: green;
  border: none;
  border-radius: 5px;
  font-size: 14;
  font-weight: bold;
  color: #ffffff;
  align-items: right;
  float: right;
}

header{
  background-color: #ffffff;
 
}
#banner{
  margin: o;
   
  background-image: url(assets/hero-bg.png) ;
  width: 1600px;
  height: 674px;
  background-repeat: no-repeat;
}

  #notes{
    margin: 0;
    padding: 60px;
  }
  
  }
 #notes .notes-container{
    width: 100%;
 justify-content: center;
    margin: 0 auto;
    padding: 20px;
   

  }
#notes .section-heading{
  margin: 0 auto;
  align-self: center;
}

#notes .notes-container .notes-box{
  display: flex;
  gap: 24px;
}

   .notes-card{
  padding: 20px;
  max-width: 267px;
  text-align: center;
  background-color: #ffffff;

}
.notes-card img {
  background-color: #F95555;
  

}